
<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first_name" }%>
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "last_name" }%>
                
  </div>

  <div class="btn btn-primary">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>



  <div>
    <p>

    </p>
  </div>



<main role="main">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Navigate
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">
        <%= link_to root_path do%>
          <button type="button" class="btn btn-primary my-2">Index</button>
        <%end%>
      </a>
        <a class="dropdown-item" href="#">
        <%= link_to "/books" do%>
          <button type="button" class="btn btn-primary my-2">Books</button>
        <%end%>
      </a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

        <div>
          <% if customer_signed_in? %>
            <span>Hi, <%= current_customer.email %></span>
            <%= link_to destroy_customer_session_path, method: :delete, data: { confirm: 'Are you sure?' } do%>

              <button type="button" class="btn btn-primary my-2">Logout</button>
            <%end%>

          <% else %>
           <%= link_to new_customer_session_path do%>
              <button type="button" class="btn btn-primary my-2">Signed in</button>
            <%end%>
          <% end %>
        </div>

      </li>
    </ul>
  </div>

  </nav>
</main>