

<%= simple_form_for(@order.credit_card) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <% if @order.credit_card.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(credit_card.errors.count, "error") %> prohibited this credit_card from being saved:</h2>
        <ul>
          <% credit_card.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
  <div class="form-inputs">
    <%= f.input :number,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "number" }%>
    <%= f.input :CVV,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "CVV" }%>
    <%= f.input :expiration_month,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "expiration_month" }%>
    <%= f.input :expiration_year,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "expiration_year" }%>
    <%= f.input :firstname,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "firstname" }%>
    <%= f.input :lastname,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "lastname" }%>
                
  </div>

  <div class="btn btn-primary">
    <%= f.button :submit, "ok" %>
  </div>
  <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% end %>
