<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1>Credit Cards</h1>

<table>
  <thead>
    <tr>
      <th>number</th>
      <th>firstname</th>
      <th>lastname</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_cards.each do |credit_card| %>
      <tr>
        <td><%= credit_card.number %></td>
        <td><%= credit_card.firstname %></td>
        <td><%= credit_card.lastname %></td>
        <td><%= link_to 'Show', credit_card %></td>
        <td><%= link_to 'Edit', edit_credit_card_path(credit_card) %></td>
        <td><%= link_to 'Destroy', credit_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Destroy all', destroy_all_credit_cards_url, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<p><%= link_to 'New Credit Card', new_credit_card_path %></p>
<p><%= link_to "Next", orders_path(step: 2) %></p>

