
<h3>My profile</h3>

<br>
<p>First name: <%= @customer.first_name %></p>
<p>Last name: <%= @customer.last_name %></p>

<% if @customer.address %>
  <p>Address: <%= @customer.address.address %></p>
<% else %>
  <p>Address: nil</p>
<% end %>

<%= simple_form_for(@customer, method: :put) do |f| %>
  <%= f.fields_for :address do |address| %>
    <%= address.input :address, label: "Change address:" %>
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>

<p><%= link_to 'Back', books_path %></p>
<p></p>

