
<h3>My profile</h3>

<br>
<p>First name: <%= @customer.first_name %></p>
<p>Last name: <%= @customer.last_name %></p>
<%#byebug%>
<% if @customer.addresses %>
  <p>Address: <%= @customer.addresses.address %></p>
<% else %>
  <p>Address: nil</p>
<% end %>

<%= simple_form_for(@customer, method: :put) do |f| %>
  <%= f.fields_for :addresses do |address| %>
    <%= address.input :address %>
  <% end %>
<% end %>


<p></p>



