<h3>My Order complite:</h3>
<p>Total price: <%= @order.total_price %></p>
<table>
  <thead>
    <tr>
      <th>book</th>
      <th>price</th>
      <th>quantity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= item.book.title %></td>
        <td><%= item.book.price %></td>
        <td><%= item.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<p></p>
<%= form_with model: @credit_cards do |card_form| %>
  <%= label_tag("Select card:") %>
  <%= card_form.collection_select(:credit_card_id, current_customer.credit_cards, :id, :number) %>
<% end %>

<p><%= link_to "Destroy Order", @order, data: { confirm: 'Are you sure?' }, method: :delete %></p>
<%= link_to 'Back', books_path %>