<h1>New Order</h1>
<h3>status</h3>
<h3>total_price</h3>
<p class="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>book</th>
      <th>price</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= item.book.title %></td>
        <td><%= item.book.price %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', books_path %>