<p id="notice"><%= notice %></p>

<h3>Billing Addresses</h3>
<%= @billing_addresses %>



<br>

<%= link_to 'New Billing Address', new_billing_address_path %>
<p><%= link_to "To books", root_path %></p>
<p><%= link_to "Next", orders_path(step: 3) %></p>
