<header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Album</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
</header>




<main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Books example</h1>
          <p class="lead text-muted">Something short and leading about the collection bla-bla.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>


  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= link_to 'Books', books_path %></th>
        <th scope="col"><%= link_to 'New Book', new_book_path %></th>
        <th scope="col"><%= link_to 'Back to root_path', root_path %></th>
        <th scope="col">link_to</th>
      </tr>
    </thead>
  </table>


  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @books.each do |book| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="50" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title><%= book.title %></title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"><%= book.title %></text></svg>
              <div class="card-body">
                <div style = "width:300px; height:auto">
                  <%= image_tag "https://editus.ru/img/services/verstka/cover_3.jpg", style:'width:100%'%>
                </div>
                <p class="card-text"><%= book.description %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Show', book %></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Edit', edit_book_path(book) %></button>
                  </div>
                  <small class="text-muted">Price: <%= book.price %></small>
                  <small class="text-muted">In stock: <%= book.books_in_stock %></small>
                  <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div>
  <% if customer_signed_in? %>
      <span>Hi, <%= current_customer.email %></span>
      <%= link_to 'Logout ', destroy_customer_session_path, :method => :get, data: { confirm: 'Are you sure?' } %>
  <% else %>
      <%= link_to 'Signed in', new_customer_session_path %> <%= link_to 'Register now', new_customer_registration_path %>
  <% end %>
  </div>

</main>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>