<p id="notice"><%= notice %></p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Books in stock</th>
      <th scope="col">Descr</th>
     
    </tr>
  </thead>
</table>

  <tbody>
    <% @books.each do |book| %>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <tr>
            <td><%= book.title %></td>
            <td><%= book.price %></td>
            <td><%= book.books_in_stock %></td>
            <td><%= book.description %></td>
            <td><%= link_to 'Show', book %></td>
            <td><%= link_to 'Edit', edit_book_path(book) %></td>
            <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      </div>
    </div>
  </div>
    <% end %>
  </tbody>


<%= link_to 'New Book', new_book_path %>
<p></p>
<%= link_to 'Back', books_path %>
