<p id="notice"><%= notice %></p>

<div style = "width:100px; height:auto">
  <%= image_tag "https://editus.ru/img/services/verstka/cover_3.jpg", style: 'width:100%'%>
</div>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.name %>
</p>

<p class="card-text"><%= @book.description %></p>

<p>
  <strong>Category:</strong>
  <%= @book.category.title %>
</p>

<p>
  <strong>Books in stock:</strong>
  <%= @book.books_in_stock %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>


<% if @book.ratings.blank? %>
  <p>Rating: nil</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Rating: <%= @book.average_rating %></th>
      </tr>
    </thead>
  </table>
<% end %>
<% if @customer %>
  <%= simple_form_for(@rating, method: @rating.persisted? ? :put : :post) do |f| %>
    <%= f.input :rating_number %>
    <%= f.hidden_field :book_id %>
    <%= f.submit "Submit" %>
  <% end %>
<% end %>
  
<%#byebug %>
<%= link_to 'Back', books_path %>
<!-- @rating, method: @rating.present? ? :put : :post -->









<!-- condition ? true_expression : false_expression -->


