<p id="notice"><%= notice %></p>

<div style = "width:100px; height:auto">
  <%= image_tag "https://editus.ru/img/services/verstka/cover_3.jpg", style: 'width:100%'%>
</div>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.name %>
</p>

<p class="card-text"><%= @book.description %></p>

<p>
  <strong>Category:</strong>
  <%= @book.category.title %>
</p>

<p>
  <strong>Books in stock:</strong>
  <%= @book.books_in_stock %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>


  <% if @book.ratings.blank? %>
    nil
  <% else %>

    <table>
      <thead>
        <tr>
          <th>Rating:</th>
        </tr>
      </thead>

      <tbody>
        <% @book.ratings.each do |rating| %>
          <tr>
            <td><%= rating.rating_number %></td></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>

  <%= simple_form_for(@book, method: :put) do |f| %>
    <%= f.fields_for :ratings do |rating| %>
      <%= rating.input :rating_number %>
    <% end %>
    <p><%= f.submit "Submit" %></p>
  <% end %>
</p>

<%#byebug %>
<%= link_to 'Back', books_path %>


