<!-- 
<table>
  <thead>
    <tr>
      <th>number</th>
    </tr>
  </thead>

  <tbody>
    <% @order.customer.credit_cards.each do |credit_card| %>
      <tr>
        <td><%= credit_card.number %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'New Credit Card', new_credit_card_path %></p>


 -->

<!--  <form aciton='/order/20' method="patch">
    <dropdown creidt_card_id=1>
    
    <inout>
    <inout>
    <inout>
     <inout>
       <inout>
 </form> -->

 <%= form_with model: @order, method: :patch do |card_form| %>
  <%= label_tag("Select card:") %>
  <%= card_form.collection_select('credit_card[credit_card_id]', current_customer.credit_cards, :id, :number, selected: @order.credit_card) %>
<% end %>
<!-- 
<%= simple_form_for(@step_builder.credit_card, url: order_path(@order), method: :patch) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  
  <div class="form-inputs">
    <%= f.input :number,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "number" }%>
    <%= f.input :CVV,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "CVV" }%>
    <%= f.input :expiration_month,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "expiration_month" }%>
    <%= f.input :expiration_year,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "expiration_year" }%>
    <%= f.input :firstname,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "firstname" }%>
    <%= f.input :lastname,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "lastname" }%>
  </div>


  <div class="btn btn-primary">
    <%= f.button :submit, "ok" %>
  </div>
  <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% end %> -->



<%if 1 == 2 %>

if (current_customer? find?)credit_card.exists?(customer_id: customer.id)
  # same as Business.where(user_id: current_user.id).exists?
  # ...
else
  # ...
end
<% end %>
