<% if @order.credit_card.present? %>
	<br><p>Card number: <%= @order.credit_card.number %></p>
	<p><%= link_to "Edit card", order_path(@order.id, step: 1) %></p>
	<% if @order.billing_address.present? & @order.shipping_address.present? %>
		<p>Billing address: <%= @order.billing_address.bil_address %></p>
		<p>Shipping address: <%= @order.shipping_address.ship_address %></p>
		<p><%= link_to "Edit addresses", order_path(@order.id, step: 2) %></p>
	<% else %>
		<p><%= link_to "Add billing & shipping addresses", order_path(@order.id, step: 2) %></p>
	<% end %>
<% else %>
	<p>Need credit card first!</p>
	<p><%= link_to "add card", order_path(@order.id, step: 1) %></p>
<% end %>




